.tabs {
  @media screen and (max-width: 1200px) {
    width: 800px;
  }
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  border: 1px solid #dbdbdb;
  background: #ffffff;
  a {
    font-size: 20px;
    margin-left: 5px;
    color: #000000;
    text-decoration: none;
  }
}