.login {
	.title {
    h2 {
      color: #449ad0;
      text-align: center;
      margin-bottom: 0;
    }
  }
  .input {
    input {
      font-size: 18px;
      border: 0;
      border-bottom: 1px solid #dbdbdb;
    }
    input::-webkit-input-placeholder  {
      color: #c5c4bc;
    }
  }
  .btn {
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
  }
}